__pycache__/
*.pyc
.vscode/
.env

data/vit_site_data/
data/vit_chunks.jsonl
data/vit_embeddings.jsonl
data/vit_meta.jsonl
data/vit_chunks.sqlite
data/vit_faiss.index
data/vit_faiss_ids.npy
.vscode/
__pycache__/
.vscode/

__pycache__/
.vscode/
*.pyc
